I will go {{.Verb.Present}} {{.Verb.ExampleComplement}};Eu {{.Tense.FirstPersonSingular}} {{.Verb.PortugueseExampleComplement}}
You will go {{.Verb.Present}} {{.Verb.ExampleComplement}};Você {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}
He will go {{.Verb.Present}} {{.Verb.ExampleComplement}};Ele {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}
She will go {{.Verb.Present}} {{.Verb.ExampleComplement}};Ela {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}
We will go {{.Verb.Present}} {{.Verb.ExampleComplement}};Nós {{.Tense.FirstPersonPlural}} {{.Verb.PortugueseExampleComplement}}
Y'all will go {{.Verb.Present}} {{.Verb.ExampleComplement}};Vocês {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}
The guys will go {{.Verb.Present}} {{.Verb.ExampleComplement}};Eles {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}
The gals will go {{.Verb.Present}} {{.Verb.ExampleComplement}};Elas {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}
