Back in the day, I used to {{.Verb.Present}} {{.Verb.ExampleComplement}};Antigamente, eu {{.Tense.FirstPersonSingular}} {{.Verb.PortugueseExampleComplement}}
Back in the day, you used to {{.Verb.Present}} {{.Verb.ExampleComplement}};Antigamente, você {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}
Back in the day, he used to {{.Verb.Present}} {{.Verb.ExampleComplement}};Antigamente, ele {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}
Back in the day, she used to {{.Verb.Present}} {{.Verb.ExampleComplement}};Antigamente, ela {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}
Back in the day, we used to {{.Verb.Present}} {{.Verb.ExampleComplement}};Antigamente, nós {{.Tense.FirstPersonPlural}} {{.Verb.PortugueseExampleComplement}}
Back in the day, y'all used to {{.Verb.Present}} {{.Verb.ExampleComplement}};Antigamente, vocês {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}
Back in the day, the guys used to {{.Verb.Present}} {{.Verb.ExampleComplement}};Antigamente, eles {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}
Back in the day, the gals used to {{.Verb.Present}} {{.Verb.ExampleComplement}};Antigamente, elas {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}
