I will {{.Verb.Present}} {{.Verb.ExampleComplement}};Eu {{.Tense.FirstPersonSingular}} {{.Verb.PortugueseExampleComplement}}
You will {{.Verb.Present}} {{.Verb.ExampleComplement}};Você {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}
He will {{.Verb.Present}} {{.Verb.ExampleComplement}};Ele {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}
She will {{.Verb.Present}} {{.Verb.ExampleComplement}};Ela {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}
We will {{.Verb.Present}} {{.Verb.ExampleComplement}};Nós {{.Tense.FirstPersonPlural}} {{.Verb.PortugueseExampleComplement}}
Y'all will {{.Verb.Present}} {{.Verb.ExampleComplement}};Vocês {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}
The guys will {{.Verb.Present}} {{.Verb.ExampleComplement}};Eles {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}
The gals will {{.Verb.Present}} {{.Verb.ExampleComplement}};Elas {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}
