Maybe I will {{.Verb.Present}} {{.Verb.ExampleComplement}};Talvez eu {{.Tense.FirstPersonSingular}} {{.Verb.PortugueseExampleComplement}}
Maybe you will {{.Verb.Present}} {{.Verb.ExampleComplement}};Talvez você {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}
Maybe he will {{.Verb.Present}} {{.Verb.ExampleComplement}};Talvez ele {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}
Maybe she will {{.Verb.Present}} {{.Verb.ExampleComplement}};Talvez ela {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}
Maybe we will {{.Verb.Present}} {{.Verb.ExampleComplement}};Talvez nós {{.Tense.FirstPersonPlural}} {{.Verb.PortugueseExampleComplement}}
Maybe y'all will {{.Verb.Present}} {{.Verb.ExampleComplement}};Talvez vocês {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}
Maybe the guys will {{.Verb.Present}} {{.Verb.ExampleComplement}};Talvez eles {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}
Maybe the gals will {{.Verb.Present}} {{.Verb.ExampleComplement}};Talvez elas {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}
