When I {{.Verb.Present}} {{.Verb.ExampleComplement}}, there will be peace;Quando, eu {{.Tense.FirstPersonSingular}} {{.Verb.PortugueseExampleComplement}}, haverá paz
When you {{.Verb.Present}} {{.Verb.ExampleComplement}}, there will be peace;Quando, você {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}, haverá paz
When he {{.Verb.ThirdPersonPresent}} {{.Verb.ExampleComplement}}, there will be peace;Quando, ele {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}, haverá paz
When she {{.Verb.ThirdPersonPresent}} {{.Verb.ExampleComplement}}, there will be peace;Quando, ela {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}, haverá paz
When we {{.Verb.Present}} {{.Verb.ExampleComplement}}, there will be peace;Quando, nós {{.Tense.FirstPersonPlural}} {{.Verb.PortugueseExampleComplement}}, haverá paz
When y'all {{.Verb.Present}} {{.Verb.ExampleComplement}}, there will be peace;Quando, vocês {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}, haverá paz
When the guys {{.Verb.Present}} {{.Verb.ExampleComplement}}, there will be peace;Quando, eles {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}, haverá paz
When the gals {{.Verb.Present}} {{.Verb.ExampleComplement}}, there will be peace;Quando, elas {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}, haverá paz
