I {{.Verb.Present}} {{.Verb.ExampleComplement}};Eu {{.Tense.FirstPersonSingular}} {{.Verb.PortugueseExampleComplement}}
You {{.Verb.Present}} {{.Verb.ExampleComplement}};Você {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}
He {{.Verb.ThirdPersonPresent}} {{.Verb.ExampleComplement}};Ele {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}
She {{.Verb.ThirdPersonPresent}} {{.Verb.ExampleComplement}};Ela {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}
We {{.Verb.Present}} {{.Verb.ExampleComplement}};Nós {{.Tense.FirstPersonPlural}} {{.Verb.PortugueseExampleComplement}}
Y'all {{.Verb.Present}} {{.Verb.ExampleComplement}};Vocês {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}
The guys {{.Verb.Present}} {{.Verb.ExampleComplement}};Eles {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}
The gals {{.Verb.Present}} {{.Verb.ExampleComplement}};Elas {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}
